<div class="bg-white p-8 max-w-xl mx-auto">
  <!-- Custom Header (inside the form) -->
  <h2 class="text-2xl font-bold text-center text-blue-600 mb-6">
    {{ isEditMode ? 'Edit Transaction' : 'Add Transaction' }}
  </h2>
  <form [formGroup]="transactionForm" (ngSubmit)="submitForm()" class="space-y-6 text-gray-800">
    <!-- Date -->
    <div>
      <label class="block font-semibold mb-2">Date</label>
      <input type="date" formControlName="transactionDate"
        class="w-full !border !border-gray-300 !rounded-lg !px-4 !py-2.5 !text-gray-700 focus:!outline-none focus:!ring-2 focus:!ring-blue-500 focus:!border-blue-500" />
      <small *ngIf="transactionForm.get('transactionDate')?.invalid && transactionForm.get('transactionDate')?.touched"
        class="text-red-600 font-medium">
        Date is required.
      </small>
    </div>

    <!-- Category -->
   
    <div>
      <label class="block font-semibold mb-2">Category</label>
      <select formControlName="categoryName" class="w-full border border-gray-300 rounded-lg shadow-sm px-3 py-3
         text-gray-700 bg-white
         focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
        <option  value="" disabled selected >Select Category</option>
        <option *ngFor="let item of categoryOptions" [value]="item.value">
          {{ item.label }}
        </option>
      </select>

      <small *ngIf="transactionForm.get('categoryName')?.invalid && transactionForm.get('categoryName')?.touched"
        class="text-red-600 font-medium">
        Category is required.
      </small>
    </div>


    <!-- Type -->
    <div>
      <label class="block font-semibold mb-2 text-gray-800">Type</label>

      <select formControlName="categoryType" class="w-full border border-gray-300 rounded-lg shadow-sm px-3 py-3
           focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
        <option value="" disabled selected>Select type</option>
        <option *ngFor="let item of typeOptions" [value]="item.value">
          {{ item.label }}
        </option>
      </select>

      <small *ngIf="transactionForm.get('categoryType')?.invalid && transactionForm.get('categoryType')?.touched"
        class="text-red-600 font-medium mt-1 block">
        Type is required.
      </small>
    </div>


    <!-- Description -->
    <div>
      <label class="block font-semibold mb-2">Description</label>
      <textarea rows="3" pTextarea formControlName="description" placeholder="Enter transaction details"
        class="w-full border !border-gray-300 !rounded-lg !px-4 !py-2.5 !text-gray-700 resize-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"></textarea>
      <small *ngIf="transactionForm.get('description')?.invalid && transactionForm.get('description')?.touched"
        class="text-red-600 font-medium">
        Description is required (max 100 characters).
      </small>
    </div>

    <!-- Amount -->
    <div>
      <label class="block font-semibold mb-2">Amount</label>
      <div class="relative">
        <input type="number" pInputText placeholder="Enter amount" formControlName="amount" min="1" step="0.01"
          class="w-full border border-gray-300 rounded-lg pl-10 pr-3 py-2.5 text-gray-800 text-base font-medium focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200 appearance-none" />
      </div>
      <small *ngIf="transactionForm.get('amount')?.invalid && transactionForm.get('amount')?.touched"
        class="text-red-600 font-medium">
        Enter a valid amount greater than 0.
      </small>
    </div>

    <!-- Actions -->
    <div class="flex justify-end gap-3 pt-5 border-t border-gray-200 mt-4">
      <button type="button" label="Cancel" icon="pi pi-times"
        class="!bg-gradient-to-r from-red-700 to-red-400 !text-white !rounded-lg !font-semibold !px-5 !py-2.5 shadow-md transition-all"
        (click)="cancelForm()">Cancel</button>

      <!-- <button pButton type="submit" [label]="isEditMode ? 'Update' : 'Add'"
        [icon]="isEditMode ? 'pi pi-save' : 'pi pi-plus'"
        class="!bg-gradient-to-r from-emerald-600 to-green-400 !text-white  !rounded-lg !font-semibold !px-5 !py-2.5 shadow-md transition-all"></button> -->
        <button pButton type="submit" [label]="isEditMode ? 'Update' : 'Add'"
        class="!bg-gradient-to-r from-emerald-600 to-green-400 !text-white  !rounded-lg !font-semibold !px-5 !py-2.5 shadow-md transition-all"></button>
    </div>
  </form>
</div>